* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #556b2f; /* Verde musgo */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 80%;
    margin-bottom: 20px;
}

.sidebar button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 16px;
}

.sidebar button:hover {
    background-color: #6b8e23; /* Verde musgo mais claro ao passar o mouse */
}

.content {
    flex: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
}

.section {
    display: none;
}

.section h2 {
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

input, select {
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

td button {
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}

td button:hover {
    background-color: #c0392b;
}

/* Estilos para os botões de "alterar" e "excluir" */
.button-edit {
    background-color: #4CAF50; /* Verde para o botão de alterar */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.button-delete {
    background-color: #f44336; /* Vermelho para o botão de excluir */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.button-edit:hover {
    background-color: #45a049; /* Verde mais claro ao passar o mouse */
}

.button-delete:hover {
    background-color: #d32f2f; /* Vermelho mais escuro ao passar o mouse */
}